$primary-color: #ff6f24;

@mixin flexbox($align: flex-start, $justify: flex-start, $wrap: nowrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
}
body{
    background-color: #fff;
    font-family: 'Huyndai Sans',sans-serif;
    font-size: 12px;
}
a{
    text-decoration: none;
}

.top-banner{
    margin: 0 auto;
}
.container{
    @include flexbox(center, center, );
    max-width: 1400px;
    padding-left: 50px;
    padding-right: 50px;
}
.header{
    padding-top: 50px;
    &__content{
        @include flexbox(center,space-between ,);
    }
    &__menu{
        margin-left: 100px;
        &-list{
            @include flexbox(center, center, );
        }
        &-item{
            margin-left: 35px;
        }
        &-text{
            color: #fff;
            transition: color .3s linear;
            &:hover{
                color: $primary-color;
            }
        }
    }
}
.current{
    &-text{
        padding-bottom: 7px;
        color: $primary-color;
        border-bottom: $primary-color 3px solid;
    }
}
.banner{
    width: 100%;
    z-index: -99;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    @include flexbox(center, center, );
}
.slider{
    width: 1600px;
}
.slides{
    width: 500%;
    display: flex;
}
.slides input{
    display: none;
}
.slide img{
    width: 100%;
}
.slide{
    width: 1600px;
    transition: 0.5s;
}
.navigation{
    position: absolute;
    width: 100%;
    margin-top: -150px;
    @include flexbox(center, center, );
    &-btn{
        border: 1.5px solid #fff;
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        &:not(:last-child){
            margin-right: 30px;
        }
    }
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
.navigation-fill{
    position: absolute;
    width: 100%;
    @include flexbox(center,center , );
    margin-top: 751.5px;
}
.navigation-fill div{
    border: 1.5px solid #fff;
    padding: 5px;
    border-radius: 50%;
    &:not(:last-child){
        margin-right: 30px;
    }
}
#radio1:checked ~ .navigation-fill .fill-btn1, #radio2:checked ~ .navigation-fill .fill-btn2{
    background: #fff;
}

.search{
    width: 100%;
    
    @include flexbox(center,center , );
    &-form{
        width: 1200px;
        height: 70px;
        background: #fff;
        margin-top: -150px;
        border-radius: 10px;
        @include flexbox(center, center , )
    }
    &-column{
        width: 33.33%;
        padding: 20px;
        font-weight: bold;
        font-size: 13px;
    }
    &-btn{
        background: $primary-color;
        border: none;
        width: 420px;
        height: 70px;
        border-radius: 0 10px 10px 0;
        color: #fff;
        font-size: 15px;
        &:hover{
            color: #000;
        }
    }
}
.search-column label{
    color: #2596be;
}
.form-control{
    border: none;
    width: 100%;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 10px;
}
.row{
    margin-top: 850px;
    margin-left: 100px;
    width: 100%;
    height: 200px;
    @include flexbox(center,flex-start , );
}
span{
    color: $primary-color;
}
.title{
    font-weight: bold;
    font-size: 50px;
}
.box-content{
    width: 375px;
    height: 200px;
}
.box{
    &-buy{
        position: relative;
        margin-top: -85px;
        height: 100%;
        width: 100%;
        &-content{
            padding: 30px;
            &__title{
                font-size: 25px;
                font-weight: bold;
            }
            &__p{
                padding-top: 10px;
                padding-bottom: 20px;
                font-size: 15px;
                font-weight: 300;
            }
            &__a{
                font-size: 15px;
                font-weight: 300;
                text-decoration: underline;
                color: #000;
                &:hover{
                    color: #fff;
                }
            }
            &__img{
                z-index: -9;
                width: 375px;
                height: 200px;
                position: absolute;
                margin-top: -114px;
                margin-left: -110px;
                
            }
        }
    }
    &-sell{
        position: relative;
        margin-top: -85px;
        height: 100%;
        width: 100%;
        &-content{
            padding: 30px;
            color: #fff;
            &__title{
                font-size: 25px;
                font-weight: bold;
            }
            &__p{
                padding-top: 10px;
                padding-bottom: 20px;
                font-size: 15px;
                font-weight: 300;
            }
            &__a{
                font-size: 15px;
                font-weight: 300;
                text-decoration: underline;
                color: #fff;
                &:hover{
                    color: $primary-color;
                }
            }
            &__img{
                z-index: -9;
                width: 375px;
                height: 200px;
                position: absolute;
                margin-top: -114px;
                margin-left: -110px;
                
            }
        }
    }

}